/*sytlesheet*/

.centered {
    text-align: center;
}

ul {
    list-style-type: none;
    background-color: black;
    color: #4f076b;
    font-family: "Courier New", serif;
   }

h1 {
    background-color: black;
    color: #4f076b;
    font-family: "Courier New", serif;
    font-size: 48px;
}

p{
    color: #4f076b;
    font-size: 36px;
    font-family: "Courier New", serif;
}

img {
    height: auto;
    width: 15%;
}

body{
    background-color: black;
}